// base styles
@import "../pieces/vars";
@import "../pieces/mixins";

$orange: rgb(242, 99, 34);

.orange { color: $orange; }
.flex {
	@include mq(netbook) {
		@include flexbox();
		div {
			@include flex(1);
			&:first-child {padding-right:1rem;}
			&:last-child {padding-left:1rem;}
		}
	}
}

#minor-announcement {
	padding: 0.75rem;
	margin-bottom: 1rem;
}
#minor-header h2 {
	font-size: 2.25rem;
	padding-right: 1rem;
	margin-bottom: 1rem;
}
#minor-leadin {
	font-size: 1.125rem !important;
	margin-bottom: 3.5rem !important;
}
#minor-footer {
	margin-bottom: 6rem;
}

.t2 {
	padding-bottom: 0.5rem;
	border-bottom: 1px solid;
	margin-bottom: 1.5rem;
}
.t3 {
	color: $orange;
	border-left: 4px solid $orange;
	padding-left: 0.5rem;
	@include mq(netbook) {
		padding-left: 1rem;	
	}
	line-height: 1.3;
	font-size: 1rem;
	margin-bottom: 0.75rem;	
}
.minor-list {
	margin: 0 0 4rem;
	padding: 0;
	li {
		list-style: none;
		margin-bottom: 2.25rem !important;
	}
}

.electives-list {
	color: $orange;
}

