meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
meta(name="viewport", content="width=device-width, initial-scale=1")

meta(property="og:site_name", content="The RIT MAGIC Center")
meta(property="og:image", content="http://magic.rit.edu/theme_images/MAGIC_CENTER_LOGO.jpg")
meta(property="og:title", content="RIT MAGIC Center")
meta(property="og:url", content="http://magic.rit.edu/")

link(rel="shortcut icon", href="img/favicon.ico")
link(rel="apple-touch-icon", href="img/apple-touch-icon-57x57.png")
link(rel="apple-touch-icon", sizes="72x72", href="img/apple-touch-icon-72x72.png")
link(rel="apple-touch-icon", sizes="114x114", href="img/apple-touch-icon-114x114.png")