<!-- particle alrea and general hackery -->
canvas#ParticleArea.particle_area(width="300", height="550")
div#ParticleAreaOld.particle_area(style="height: 550px; display: none;")
  div#ParticleFade(style="position: absolute; height: 157px; width:100%; top: 393px; display: none; background-image:url(../theme_images/fade.png); background-repeat: repeat;")

<!-- background images (castle and custom artwork) -->
div#background_images(style="width: 100%; height: 900px; overflow: hidden;")
  div#castle(style="top: 51px; background: none; width: auto; height: 550px; overflow: hidden; background-repeat: no-repeat;")
    svg#castle_svg_container                            
  div#page_art(style="background-image: url(../theme_images/elf.png); height: 800px; width: 482px; left: 107px; overflow: hidden; background-repeat: no-repeat;")

