include ../html/jade-helpers.jade
!!! 5

head
  title RIT MAGIC Center Projects | FOSS @ MAGIC
  meta(name="description", content="description")
  include ../html/head.jade

body#fossbox
  include ../html/global-header.jade

  include ../html/particle-area.jade

  <!-- main page containeer, allows things to extend all over the edges of things) -->
  div#pagewrap_abscontainer

    <!-- aesthetic nav bar, real nav is in the main header -->
    div#nav_header

    <!-- actual page -->
    div#pagewrap
      <!-- navigation bar -->
      div#header
        script(type="text/javascript", src="../scripts/nav_menu.js")
      div#main_content_area.no-sidebar
        div#content
          div#minor-announcement
            header#minor-header
              h2 Minor in Free and Open Source Software and Free Culture
              p#minor-leadin This minor, which will be offered starting Fall Semester, 2014, is designed to allow any student across the institute to become a Free and Open Source Software (FOSS) and Free Culture (FC) contributor, project leader, community manager and/or departmental resource for other students and faculty.

            //- div.flex
            div#required-courses
              h3.t2 Required Courses
              ul.minor-list
                li
                  h4.t3 Humanitarian Free and Open Source Software Development
                  p Humanitarian Free and Open Source Software Development introduces students to processes, practices, tools and technologies of the FOSS community. It’s where they make their first contributions and work on their first projects. These projects generally require multidisciplinary teams, so students lacking strong programming skills can contribute
                li
                  h4.t3 Legal and Business Aspects of FOSS andFree Culture
                  p Legal and Business Aspects of FOSS examines reactions to copyright from Copyleft and Creative Commons, the range of FOSS Licenses. It takes a look at FOSS and Free Culture business practices in general and at examples and case studies of specific corporations.
                li
                  h4.t3 Legal and Business Aspects of FOSS andFree Culture
                  p Legal and Business Aspects of FOSS examines reactions to copyright from Copyleft and Creative Commons, the range of FOSS Licenses. It takes a look at FOSS and Free Culture business practices in general and at examples and case studies of specific corporations.
                li
                  h4.t3 Free and Open Source Culture
                  p Humanitarian Free and Open Source Software Development introduces students to processes, practices, tools and technologies of the FOSS community. It’s where they make their first contributions and work on their first projects. These projects generally require multidisciplinary teams, so students lacking strong programming skills can contribute.
            //- One of Two
            div#pick-one
              h3.t2 Required One of Two
              p Depending on their individual abilities and interests, students will either take the Linux Systems course to learn about packaging, distribution, revision and community/contributor management or take Technical Writing as it’s a skill set contributor communities often lack.
              ul.minor-list
                li
                  h4.t3 Technical Writing
                  p Provides knowledge of and practice in technical writing. Key topics include audience analysis; organizing, preparing and revising short and long technical documents; designing documents using effective design features and principles, and formatting elements using tables and graphs; conducting research; writing technical definitions, and physical and process descriptions; writing instructions; and individual and group peer editing.
                li
                  h4.t3 Software Development on Linux Systems
                  p Students will learn how to package software, for release and engage in version maintenance within the FOSS community. Topics such as Linux, package managers, version control systems, potential license conflicts, development vs. production releases, bug tracking, maintenance managing, forking, patching and future development will be covered in from both a management and end-user perspective in lectures, lab exercises and a project.
            //- Electives
            div#electives
              h3.t2 Choice of One Elective
              p Students must take one elective course from an approved list. Approved electives must use FOSS and/or FC tools or communities as part of the instructional model for the course.
              div.flex
                div#language-courses
                  p The <span class="orange">"Language" courses</span> are part of a collection of five in "Human Language Technology and Computational Linguistics” that use NLTK and other FOSS tools.
                  ul.electives-list
                    li Introduction to Natural Language Processing
                    li Language Technology
                    li Text &amp; Code
                div#computing-courses
                  p The <span class="orange">computing courses</span>, are advanced courses from computing degree programs at RIT. The rationale for including courses like these within the minor is that it allows the students to act as resources in those courses for other students and/or the faculty member to engage with if they want to participate in the existing community to squash bugs and/or fork the tool for new development within the course.
                  ul.electives-list
                    li Project in FOSS Development
                    li Unix-based System Forensics
                    li Foundations of Mobile Design

          footer#minor-footer
            p As the minor is offered over time, more of these types of courses from other disciplines around campus will be added to the list.

        //- aside#sidebar
        footer#footer &nbsp;


    <!-- footer and legalese -->
    div#magic_footer
      script(type="text/javascript", src="../scripts/footer.js")
include ../html/foot.jade
</html>